.FactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 5px;
  grid-template-areas:
    'title title title'
    'info11 info12 info13'
    'info21 info22 info23'
    'big big big'
    'big big big'
    '. button .';
}
